body {
    font-size: 12px;
}

a {
    color: #039;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
    color: #039;
}

.header-container {
    height: 58px;
    background-color: rgb(63, 71, 95);
}

.logo {
    text-indent: -9999px;
    background-image: url(../images/logo.png);
    background-position: -484px -542px;
    width: 160px;
    height: 34px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 110px;
}

.btn {
    border-radius: 2px !important;
    font-family: 'Lucida Grande', 'LucidaGrande', Arial, sans-serif !important;
    text-shadow: 1px 1px 0 #29619b !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.15) !important;
}

#btn-ucretsiz-ilan {
    background: #489af1;
    border: 0;
    color: #fff;
    padding: 10px 19px 8px 19px;
    font-size: 12px;
    margin-left: 11px;
    margin-top: 3px;
}

#btn-ucretsiz-ilan:active {
    background: #3388e3;
}

#btn-ucretsiz-ilan:hover {
    background: #3388e3;
}

.right-nav-link {
    display: block;
    color: #ebebeb;
    font-size: 11px;
    text-shadow: 1px 1px 0 #2f3339;
    text-align: right;
    padding: 5px 10px 5px 10px;
    margin-top: 8px;
}

.right-nav-link:hover {
    text-decoration: underline;
    color: #ebebeb;
}

#register-link {
    box-shadow: inset 1px 0 0 0 #60656e;
}

#navbar-search-form {
    width: 290px;
    position: relative;
}

#input-search {
    width: 290px;
    height: 28px;
    float: left;
    padding-left: 7px;
    padding-right: 40px;
    background: #2f3546;
    font-size: 11px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizingspecial-categories: content-box;
}

#input-search:focus {
    background-color: white;
}

#btn-search-submit {
    position: absolute;
    right: 8px;
    height: 42px;
    padding: 0;
    margin: 0;
    width: 38px;
    border: 0;
    cursor: pointer;
    background: 0;
    outline: 0;
    border-radius: 0 3px 3px 0;
}

#btn-search-submit:before {
    background-image: url(../images/logo.png);
    background-position: -1472px -70px;
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    text-indent: 0;
    font-size: 18px;
    color: #fff;
}

#detailed-search-link {
    color: #fff;
    float: left;
    margin-left: 24px;
}

/*Left Nav Styles Started */

h3.category-title {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 7px;
    font-size: 13px;
    font-weight: normal;
}

h3.category-title small {
    margin-top: 1px;
    font-size: 12px;
    float: right;
}

ul.leftnav-category {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    padding-left: 0;
}

.leftnav-category > li:first-child a {
    color: #039;
    font-weight: bold;
    line-height: 20px;
}

.leftnav-category-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 5px;
}

.leftnav-category-item:before {
    background-image: url(../images/category_icons.png);
    width: 24px;
    height: 24px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.category-acil-acil:before {
    background-position: -744px -24px;

}

.category-fiyati-dusen:before {
    background-position: -552px -216px;
}

.category-son-48-saat:before {
    background-position: -168px -600px;
}

.category-oto-360:before {
    background-position: -720px -48px;
}

.category-emlak-360:before {
    background-position: -600px -168px;
}

.leftnav-category-item a .new-category {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    font-size: 10px;
    color: #fff;
    bottom: 2px;
    line-height: 27px;
}

.new-category:before {
    background-image: url(../images/homepage_beb2becad39a447f4fe46dbeeb34876a.png);
    background-position: -77px -37px;
    width: 38px;
    height: 14px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: -1;
    top: 7px;
    left: -10px;
}

.category-emlak:before {
    background-position: -624px -144px;
}

.category-vasita:before {
    background-position: -96px -672px;
}

.category-yedek-parca:before {
    background-position: 0 -768px;
}

.category-ikinci-el-ve-sifir:before {
    background-position: -360px -408px;
}

.category-is-makineleri:before {
    background-position: -264px -504px;
}

.category-ustalar-hizmetler:before {
    background-position: -120px -648px;
}

.category-ozel-ders:before {
    background-position: -240px -528px;
}

.category-is-ilanlari:before {
    background-position: -336px -432px;
}

.category-yardimci-arayanlar:before {
    background-position: -24px -744px;
}

.category-hayvanlar-alemi:before {
    background-position: -480px -288px;
}

.category-hikayeni-paylas:before {
    background-position: -432px -336px;
}

.category-efsane-ilanlar:before {
    background-position: -696px -72px;
}

.category-ilginç-ilanlar:before {
    background-position: -312px -456px;
}

.leftnav-category-item > a + span {
    color: #a1a1a1;
    font-size: 10px;
    font-weight: bold;
}

.category-show-all:after {
    background-image: url(../images/homepage_beb2becad39a447f4fe46dbeeb34876a.png);
    background-position: -159px 0;
    width: 12px;
    height: 6px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    left: 8px;
    bottom: 1px;
}

/*Left Nav Styles Ended */


/* Main Section Styles Starts  */
.width-100 {
    width: 100px !important;
}

.height-150 {
    height: 150px !important;
}

.width-330 {
    width: 330px !important;
}

.productCard img {
    display: block;
    border: 1px solid #e6e6e6;
    width: 104px;
    height: 78px;
}

.productCard a {
    color: #333;
    font-size: 11px;
}

.projectCard {
    width: calc(50% - 8px);
    float: left;
    padding: 16px 16px 0 0;
}

.projectCard img {
    width: 100%;
}

.projectCard a {
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

#home-popular-products ul {
    background: #ffffff url("../images/popular.png") no-repeat top;
    overflow: hidden;
    width: 835px;
    padding: 0;
    margin: 0;
    text-align: center;

}

#home-popular-products ul li {
    float: left;
    list-style-type: none;
    width: 167px;
}

#home-popular-products ul li a {
    display: block;
    height: 150px;
    overflow: hidden;
}

#home-popular-products ul li a p {
    margin: 110px 0 2px 0;
    font-size: 12px;
    padding: 0;
}

.badge-home {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px 10px;
    color: #44474e;
    font-size: 12px;
}

/* Main Section Styles Ends  */

/* Footer Section Started*/
footer {
    border-top: 1px solid #dfdfdf;
    background: #f9f9f9;
    position: relative;
    clear: left;
    margin-top: 28px;
}

footer:before {
    content: '';
    background: #fff;
    display: block;
    height: 1px;
    width: 100%;
}

.footer-nav {
    min-width: 19%;
}

.footer-nav li h2 {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.footer-nav li > ul li a {
    color: #888;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}

footer ul.contact-menu li {
    float: left;
    padding-left: 50px;
    margin: 30px 40px 10px 0;
    font-weight: 700;
    position: relative;
}

.contact-menu li > p {
    color: #c55353;
    margin-top: 2px;
    font-weight: 700;
}

.contact-menu li > p + span, .contact-menu li > p + a {
    color: #555;
}

footer ul.contact-menu li:before {
    position: absolute;
    left: 0;
    top: -3px;
}

.contact-menu li.call-center:before {
    background-image: url("../images/footer_icons.png");
    background-position: -42px -42px;
    width: 42px;
    height: 42px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    top: -4px;
}

.contact-menu li.help-center:before {
    background-image: url("../images/footer_icons.png");
    background-position: 0 -84px;
    width: 42px;
    height: 42px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

/*footer .contact-menu .help-center a {
    color: #555;
}*/

.contact-menu li.store-logos {
    width: 202px;
    height: 30px;
    float: right;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    top: 2px;
}

.contact-menu li.store-logos .store-logo {
    width: 96px;
    height: 30px;
    display: inline-block;
    background: url("../images/app_markets.png") top left no-repeat;
}

.contact-menu li.store-logos .store-logo.googleplay {
    background-position: 0 0;
}

.contact-menu li.store-logos .store-logo.apple {
    background-position: -96px 0;
}

footer .warning-text {
    font-size: 11px;
    color: #888;
    padding: 12px;
    background: #fff;
    border: 1px dashed #ccc;
    border-radius: 2px;
    margin: 8px 0;
}

.copyright {
    color: #555;
    font-size: 11px;
}

.language-selection-link {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #dadada;
    float: right;
}


/* Footer Section Ended*/
